<div id="<%= dom_id task %>">
  <p class="my-5">
    <%# <strong class="block font-medium mb-1">Task:  %>
    <%#= task.id %>
    <%# </strong> %>
    <div data-controller="task" data-task-id="<%= task.id %>" class="group hover:bg-slate-100" style="min-height:42px; margin:0px; position: relative">
      <div data-task-target="tname" class="p-2 border-2 border-gray-200 rounded-lg task_style">
        <%= link_to task.name, "/tasks/#{task.id}/edit", data: {turbo_frame: "modal"}, class:"break-normal md:break-all" %>
      </div>
      <div id="icon_edit" data-action="click->task#handleTaskClick" class="cursor-pointer invisible group-hover:visible edit_task_hover">
        <i class="fa-solid fa-pen fa-xs" style="color: #000000;"></i>
      </div>
    </div>
    <%#= task.row_order %>
    
  </p>

  <% if action_name != "show" %>
    <%#= link_to "Show this task", task, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to "Edit task", edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <!-- <hr class="mt-6"> -->
  <% end %>
</div>
